* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    background-color: #1e2249;
    color: #f5f5fa;
    font-size: 100%;
}

main, section {
    z-index: 2;
}

h2 {
    font-weight: normal;
}

img {
    width: 3em;
    height: 3em;
}

textarea {
    resize: none;
}

/*  */

.link {
    text-decoration: none;
    color: #fff;
}

.linkLink {
    width: 50%;
    height: 100%;
    transition: all 140ms ease-in-out 100ms;
}

.linkLink:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: #252547;
    border-radius: 0.3125em;
}

/* Nav */
.navNav {
    background-color: #18182a;
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: 1;
}

.sectionNav {
    display: flex;
}

.nombreNav {
    font-size: 1.25em;
    font-family: 'Roboto Mono', monospace;
    margin-left: 1.875em;
}

.navegacionNav {
    margin-left: auto;
}

.inicioNavegacionDiv {
    display: inline-block;
}

.inicioNavegacionA, .sobreMiNavegacionA, .proyectosNavegacionA, .tecnologiasNavegacionA, .contactoNavegacionA {
    color: #fff;
    font-size: 1.25em;
    text-decoration: none;
    transition: all 0.2s ease-out;
    padding: 0.9375em;
}

.inicioNavegacionA:hover, .sobreMiNavegacionA:hover, .proyectosNavegacionA:hover, .tecnologiasNavegacionA:hover, .contactoNavegacionA:hover {
    color: #04ad6194;
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.ulLinks {
    transition: 2s;
}


/* Información */
.divInformacion {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 93vh;
}

.nombreInformacionP {
    font-size: 8.125em;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
}



/* Sobre Mi*/
.sobreMiSection {
    display: flex;
    justify-content: start;
    align-items: start;
    background-color: #18182a;
    border-radius: 0.3125em;
    padding: 1.875em;
    margin: 3.125em;
    height: 23.875em;
}

.sobreMiSectionDiv {
    padding: 2.5em;
    width: 70%;
}

.h2SobreMi {
    font-size: 2.5em;
}

.spanSobreMi {
    display: block;
    font-size: 1.125em;
    font-family: 'Josefin Sans', sans-serif;
}

.spaceSobreMi {
    padding-top: 7px;
}

.divPSobreMi {
    margin-top: 1.875em;
}



/* Tecnologías */
.tituloTecnologias {
    font-size: 2.5em;
}

.tecnologiaUtilizadaImg1, .tecnologiaUtilizadaImg2 {
    width: 3.125em;
    height: 3.125em;
    border-radius: 0.1875em;
}

.iconosTecnologias {
    background-color: #18182a;
    display: flex;
    justify-content: start;
    align-items: start;
    height: 75em;
    margin: 3.125em;
    padding: 1.875em;
    border-radius: 0.3125em;
}

.divAllTecnologias {
    padding: 2.5em;
}

.lenguajes, .baseDeDatos, .herramientas {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 4.375em;
}

.herramientasP, .lenguajesP, .baseDeDatosP {
    display: block;
    font-size: 1.875em;
    font-family: 'Josefin Sans', sans-serif;
}

.herramientasInfo, .lenguajesInfo, .baseDeDatosInfo {
    display: flex;
    align-items: center;
    margin-top: 2.5em;
    font-family: 'Josefin Sans', sans-serif;
}

.iconoTecnologiaDiv {
    height: 12.5em;
    width: 12.5em;
    transition: all 140ms ease-in-out 100ms;
}

.iconoTecnologiaDiv:hover {
    cursor: pointer;
    transform: scale(1.2);
    background-color: #252547;
    border-radius: 0.3125em;
}

.iconoTecnologiaDivDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.25em;
}

.nombreIconoTecnologia {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25em;
    font-family: 'Josefin Sans', sans-serif;
}

.icono {
    height: 7.5em;
    width: 7.5em;
}

.expressvg {
    filter: brightness(0) invert(1);
}



/* Proyectos */
.divProyectos {
    background-color: #18182a;
    height: 46.875em;
    margin: 3.125em;
    padding: 1.875em;
    border-radius: 0.3125em;
}

.divAllProyectos {
    padding: 2.5em;
}

.proyectos {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3.125em;
    width: 90%;
}

.proyectosTitulo {
    font-size: 2.5em;
}

.proyecto1Div, .proyecto2Div {
    width: 45%;
    border-radius: 0.3125em;
    padding: 1.875em;
    transition: all 200ms ease-in-out 100ms;
}

.proyectosDivHover:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: #252547;
    border-radius: 0.3125em;
    padding: 1.875em;
}

.nombreProyecto1, .nombreProyecto2 {
    font-size: 1.875em;    
    font-family: 'Josefin Sans', sans-serif;
}

.descripcionProyecto1, .descripcionProyecto2 {
    padding: 1.25em 1.25em 1.25em 0;
    font-size: 1.125em;
    font-family: 'Josefin Sans', sans-serif;
}

.tecnologiasUtilizadasProyectos {
    width: 50%;
    display: flex;
    justify-content: start;
}

.linksWebProyectos {
    width: 40%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.tecnologiaUtilizadaImg {
    margin-right: 0.625em;
}

.linkPaginaWebProyecto {
    margin-left: 0.9375em;
}

.tecnologiasUtilizadasYLinkWebProyectos {
    display: flex;
}

.proyecto2Div {
    margin-left: auto;
}

.spaceProyecto3 {
    margin-top: 30px;
}

/* Contacto */

.divContacto {
    background-color: #18182a;
    display: flex;
    justify-content: start;
    align-items: start;
    height: 50em;
    margin: 3.125em;
    padding: 1.875em;
    border-radius: 0.3125em;
}

.contactoAllDiv {
    padding: 2.5em;
    width: 90%;
}

.contactoTitulo {
    font-size: 2.5em;
}

.unionFormIconosContacto {
    display: flex;
    justify-content: start;
    align-items: end;
    padding: 1.875em 1.875em 1.875em 0;
}

.pInformacionSpan {
    display: block;
}

.s {
    padding: 0.625em 1.25em 0.625em;
}

.iconoContactoImg {
    width: 2.8125em;
    height: 2.8125em;
}

.iconosContactoDivDiv {
    display: flex;
}

.informacionDescripcionContactoDiv {
    display: flex;
    margin-top: 3.125em;
}

.infoMyemailDiv {
    width: 43.75em;
    height: max-content;
}

.pInformacionP {
    font-size: 1.25em;
    font-family: 'Noto Sans KR', sans-serif;
}

.emailA {
    text-decoration: none;
    color: #f5f5fa;
}

.myemail {
    display: flex;
    align-items: center;
    padding: 1.25em;
    transition: all 200ms ease-in-out 100ms;
    border-radius: 0.625em;
    margin-top: 10px;
}

.myemail:hover {
    cursor: pointer;
    background-color: rgba(1, 55, 65, 0.58);
    border-radius: 0.3125em;
    font-size: 1.050em;
}

.myemailP {
    font-weight: bold;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.125em;
    padding: 0 0 0 0.3125em;
    margin-bottom: auto;
}

.cv {
    width: 25em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.9375em;
    border-radius: 0.625em;
    transition: all 200ms ease-in-out 200ms;
}

.cv:hover {
    background-color: rgba(1, 65, 36, 0.58);
}

.cv:hover .cvP {
    font-size: 1.375em;
}

.upDivCV {
    width: 25em;
    border-radius: 0.8125em;
}

.cvP {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.25em;
    transition: all 170ms ease-in-out 170ms;
}

.cvImg {
    width: 3.75em;
    height: 3.75em;
    padding: 0.625em;
}

.contactoEmailIcon {
    width: 1.875em;
    height: 1.875em;
}

/* Form */

.formDiv {
    display: flex;
    width: 100%;
    height: 31.25em;
    justify-content: center;
    align-items: start;
}

.sectionForm {
    padding: 0 0 1.25em 0;
}

.inputForm {
    display: flex;
    justify-content: center;
    background-color: #18182a;
    padding: 0.625em;
    color: #f5f5fa;
    width: 100%;
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 1px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.125em;
    transition: border-bottom 200ms;
}

.inputForm::placeholder {
    color: #f5f5fa;
}

.inputForm:focus {
    outline: none;
    border-bottom: 1px solid #0f6669;
}

.labelForm, .inputForm {
    font-family: 'Josefin Sans', sans-serif;
}

.buttonForm {
    display: flex;
    justify-content: center;
    background-color: #18182a;
    padding: 0.625em;
    margin-top: 3.125em;
    color: #f5f5fa;
    width: 100%;
    border: none;
    border-bottom: 1px solid #9c090994;
    font-family: 'Noto Sans KR', sans-serif;
    transition: all ease-in-out 300ms;
}

.buttonForm:hover {
    font-size: 0.9375em;
    cursor: pointer;
    border-radius: 5px;
    background-color: #881212a8;
    border-bottom: 1px solid #9c09090a;
}
.svg {
    transform: rotate(270deg);
}

.arrowDown {
    width: 100%;
    height: 20%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

#arrowDown.bounce-once {
    animation: bounce 2.3s 2;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 90%
    }

    .navNav {
        padding: 0.5rem
    }

    .nombreNav {
        font-size: 1em
    }

    .ulLinks {
        flex-direction: column
    }

    .linkLink {
        width: 100%
    }

    .divInformacion {
        height: auto
    }

    .nombreInformacionP {
        font-size: 3em
    }
}